body {
  padding: 5em;
  background: #e2e1e0;
  font-family: 'Roboto', sans-serif;
}


.card {
  background: #fff;
  border-radius: 2px;
  height: auto;
  margin:0 1em 5em 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
  padding: 0px;
  background-color:#E91E63;
  color: #fff;
  text-align: center;
  font-size: 0.5em;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card div{
	width: 100%;
}

.shop-ad img{
	height: auto;
	width: 100%;
}

.status{
	position: relative;
	width: 0;
	height: 0;
}

.status div{
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	height: auto;
	background-color: #549c35;
	position: absolute;
    text-align: center;
    max-width: 100%;
    font-size: 3em;
    /*left: 45%;
    top: 3rem;*/
    left: 42%;
    top: 2em;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.shop-id,.shop-address{
	background-color: #515252;
	margin: 0px;
	padding: 5px;
}

.shop-menu{
	background-color: #fff;
}

.shop-menu .table{
	margin-bottom: 0px;
}

.shop-menu .table td {
   text-align: center;   
}

.shop-rating{
	position: absolute;
}

.shop-rating i{
	color: #515252;
	position: relative;
	left: 5.5em;
    top: -1.4em;
    text-shadow: 0 0 6px rgba(2,2,2,.65);
}

.material-switch > input[type="checkbox"] {
    visibility: hidden;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.filter-menu{
	background: #fff;
  	border-radius: 2px;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  	padding:auto;
  	padding-top: 15px;
  	margin-bottom: 1em;
}


@media only screen and (min-width: 992px) {
    .status div{
    	max-width: 60%;
    	left: 55%;
    	top: 3rem;
    	font-size: 1.25em;
    }

    .shop-menu{
    	display:none;
    }

    .card:hover .shop-menu{
		display: block;
	}

	.card:hover .shop-info{
		display: none;
	}

}

@media only screen and (min-width: 1200px) {
    .status div{
    	max-width: 100%;
    	left: 40%;
    	top: 3rem;
    	font-size: 2em;
    }
}

@media only screen and (min-width: 1600px) {
    .status div{
    	max-width: 100%;
    	left: 45%;
    	top: 3rem;
    	font-size: 1.5em;
    }
}
